<h2 [innerHTML]="title"></h2>
<img [src]="imgSrc" />
<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">

<h2>4. Two way binding example</h2>
<p><!-- <input [(ngModel)]="myName"/> <p [innerHTML]="myName"></p> --></p>
<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">

<h2>5. Template Reference Variable</h2>
<input type="text" #refVariable />
<button (click)="handleClick(refVariable)">Click</button>

<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">

<h2>6. ngClass + 8. ngFor example</h2>
<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i=index">
      <td [class.cool-bool]="pokemon.isCool">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i=index">
      <td [ngClass]="{'cool-bool': pokemon.isCool}">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">

<h2>7. ngStyle example</h2>
<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i=index">
      <td [style.backgroundColor]="(pokemon.isStylish ? 'red': '')">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i=index">
      <td [ngStyle]="{backgroundColor: (pokemon.isStylish ? 'yellow' : '')}">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">
<br>

<h2>8. ngif example</h2>
<input type="text" [value]="pokemonName" (input)="handleChange($event)" />
<!-- <p>{{ pokemonName }}</p>
<div *ngIf="!pokemonName">
  No search result found...
</div> -->


<ng-container *ngIf="pokemonName.length then pokemonList; else noPokemon"></ng-container>
<ng-template #pokemonList>
  <h4>Pokemons available.</h4>
</ng-template>
<ng-template #noPokemon>
  <h4>No Pokemon available.</h4>
</ng-template>


<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">
<br>


<h2>9. ngFor example</h2>


<div style="padding-bottom: 5%;"></div>

<br>
<br style="border-bottom-style: dashed;padding: 0 50% 0;content: close-quote;">
<br>


<h2>9. List Details page example</h2>
<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <app-pokemon-detail
    *ngFor="let pokemon of pokemons"
    [detail]="pokemon"
    (remove)="handleRemove($event)"></app-pokemon-detail>
  </tbody>
</table>
